<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLbpbAn1ZmFIVkv2J6dCKp9LWebkhm8uw</string>
	<key>GCM_SENDER_ID</key>
	<string>522325560123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glamora.salon</string>
	<key>PROJECT_ID</key>
	<string>glamora-salon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>glamora-salon-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522325560123:ios:a2df5dad814a159976851e</string>
</dict>
</plist>
